html {
	height: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Corben:700');

h1 {
	text-align: center;
	font-family: 'Corben', cursive;
	font-size: 4rem;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.hero {
	background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
	// min-height: 200vh;
	min-height: 200rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	&__content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 175vw;
	min-height: 175vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(1000px);
	}
	
}

.headings_1 {
	font-family: sans-serif;
	position: absolute;
	Left: 100px;
	color: white;
	text-shadow: 5px 5px 5px black;
}

ul {
	font-family: sans-serif;
	position: absolute;
	top: 220px;
	Left: 100px;
	color: white;
	font-size: 20px;
}

img {
	position: absolute;
	width: 600px;
	height: 600px;
	top: 500px;
	left: 370px;
}

.headings_2 {
	font-family: sans-serif;
	position: absolute;
	Left: 700px;
	top: 1850px;
	color: white;
	text-shadow: 5px 5px 5px black;
}

.paragrapghs_content2 {
	font-family: sans-serif;
	position: absolute;
	top: 1150px;
	Left: 100px;
	color: white;
	font-size: 20px;
}

.box {
  width: 300px;
  border: 5px solid lightsteelblue;
  padding: 100px;
  margin: 20px;
  position: absolute;
  top: 1900px;
  left: 700px;
  height: 300px;
  box-shadow: 0px 0px 5px black;
}

.paragrapghs_content3 {
	font-family: sans-serif;
	position: absolute;
	top: 1950px;
	Left: 750px;
	color: white;
	font-size: 20px;
}

.headings_3 {
	font-family: sans-serif;
	position: absolute;
	Left: 100px;
	top: 1250px;
	color: white;
	text-shadow: 5px 5px 5px black;
}

.box2 {
  width: 300px;
  border: 5px solid lightsteelblue;
  padding: 100px;
  margin: 20px;
  position: absolute;
  top: 1300px;
  left: 100px;
  height: 300px;
  box-shadow: 0px 0px 5px black;
}

.paragrapghs_content4 {
	font-family: sans-serif;
	position: absolute;
	top: 1330px;
	Left: 130px;
	color: white;
	font-size: 20px;
}

.arrow {
 position: absolute;
 padding: 150px;
 box-shadow: 4px -4px 0 0px white inset;
 border: solid transparent;
 border-width: 0 0 2px 2px;
 top: 1900px;
 left: 290px;
}

.arrow_right {
	position: absolute;
	color: white;
	font-weight: bold;
	font-size: 80px;
	top: 2070px;
	left: 600px;
	text-shadow: 1px 1px 1px black;
}

h5 {
	font-family: sans-serif;
	position: absolute;
	top: 2500px;
	left: 600px;
	color: white;
	text-shadow: 5px 5px 5px black;
	font-size: 40px;
}

button {
	font-family: sans-serif;
	position: absolute;
	top: 3120px;
	left: 1120px;
	color: black;
	font-size: 20px;
	font-weight: bold;
}

dd {
	font-size: 15px;
}

.link {
	position: absolute;
	font-family: sans-serif;
	color: white;
	top: 1290px;
	left: 100px;
	font-size: 10px;
	font-weight: bold;
}

.ngos {
	position: absolute;
	top: 1290px;
	left: 135px;
	font-size: 10px;
}

a {
	font-family: sans-serif;
	color: white;
}

.frame {
	position: absolute;
	top: 2630px;
	left: 310px;
}